<%#= wall.inspect %>
<fieldset>
  <legend>NEW POST</legend>
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>

    <%= f.input :wall_id, :as => :hidden, :input_html => { :value => wall.id.to_s } %>
    <%= f.input :content, :as => :text, :label => false, :input_html => { :rows => 4 } %>
    <%= f.button :submit %>
  <% end %>
</fieldset>

<% wall.posts.each do |post| %>
  <div style="width: 400px; border:1px dashed #202020;">
    <div style="width:100%; color:red; background-color:#BBBBBB;">
      <%= post.user.login %>
    </div>
    <div>
      <%= post.content %>
    </div>
  </div>
<% end %>
